/*******************colors******************/

$color-primary: #E73C1E;
$color-primary-light: #e5f1ff;
$color-primary-bgd-light: #F2F8FF;
$color-secondary: #2C3F61;
$color-secondary-light: #87A0C7;
$color-success: #209F85;
$color-success-light: #F0FBF8;
$color-warning: #ffa53c;
$color-warning-light: #fef6ee;
$color-danger: #d9534f;
$color-danger-light: #f7dddc;
$color-orange: #ff3300;
$color-grey: #8D8D8D;
$color-grey-02: #878787;
$color-grey-03: #707070;
$background-color-body: #e5f1ff;
$background-color-body-2: #000000;
$background-color-body-3:white;